name: Publish Web Client

on:
  push

permissions:
  contents: write

jobs:
  build-web:
    name: Build web release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout to push branch
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: 21
          distribution: 'corretto'

      - name: Build WASM and JS Distribution
        if: job.status == 'success'
        run: |
          export GRADLE_USER_HOME=$(pwd)/.gradle
          chmod +x ./gradlew
          ./gradlew webApp:composeCompatibilityBrowserDistribution
        env:
          VERSION: ${{ env.MAJOR }}.${{ env.MINOR }}.${{ env.PATCH }}

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./webApp/build/dist/composeWebCompatibility/productionExecutable
          force_orphan: true
          cname: cam.procyk.in
